<%- include('partials/header', { title: 'Usuarios' }) %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Usuarios</h1>
            <!-- Contenido adicional aquí -->
        </div>
    </div>
</div>

<%- include('partials/footer') %>
